
.btn-primary {
    background-color: #3498db; 
    border-color: #3498db; 

.btn-primary:hover {
    background-color: #2980b9; 
    border-color: #2980b9;
}

.btn-danger {
    background-color: #e74c3c; 
    border-color: #e74c3c; 

.btn-danger:hover {
    background-color: #c0392b; 
    border-color: #c0392b; 

/* Texto */
body {
    color: #333; /* Cor de texto padrão */
}

/* Fundo */
body {
    background-color: #a3a0a079; 
}

/* Fundo das caixas de entrada 
.form-control {
    background-color: #f2f2f2b6; 
}

#logo {
    position: fixed;
    top: 10px;
    right: 1%; 
    width: 150px;
    height: auto; 
    z-index: 1000;
    opacity: 0.8; 
}
}
